@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&family=Josefin+Slab:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 500;
    color: whitesmoke;
}

h1, h2, h3 {
    font-family: 'Josefin Slab', sans-serif;
    font-weight: 500;
}

header {
    background: url('../images/skier.jpeg') no-repeat bottom right;
    height: 600px;
    width: 100%;
    background-size: cover;
    overflow: hidden;
    box-sizing: border-box;
    

}

#header-overlay {
    top: 0;
    left: 0;
    height: 600px;
    width: 100%;
    background-color: rgb(7, 1, 20);
    opacity: 0.6;
    z-index: 1;
    position: absolute;
}
#header-text {
    z-index: 2;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    margin-top: 10px;
}

header h1 {
    letter-spacing: 3px;
    font-size: 300%;
}

#logo-nav-container {
height: 80px;
width: 90%;
margin: 0 auto;
}

#logo-nav-container * {
    display: inline-block;
}

header nav {
    float: right;
    height: 100%;
    width: 40%;
}

#logo-nav-container ul {
    margin-top:20px;
    display: flex;
    justify-content: space-evenly;
}
li {
    list-style-type: none;
}
/* temporary styling to view text in white*/
section, footer {
    background: blue;
}