@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&family=Josefin+Slab:wght@500&display=swap');


/* General page stylings */

* {
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
    
}

body {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 500;
    color: whitesmoke;
}

h1, h2, h3 {
    font-family: 'Josefin Slab', sans-serif;
    font-weight: 500;
}

a {
    text-decoration: none;
    color: inherit;
}

/* Header stylings*/

header {
    background: url('../images/skier.jpeg') no-repeat bottom right;
    height: 600px;
    width: 100%;
    background-size: cover;
 
}

#header-overlay {
    top: 0;
    left: 0;
    height: 600px;
    width: 100%;
    background-color: rgb(7, 1, 20);
    opacity: 0.6;
    z-index: 1;
    position: absolute;
}
#header-text {
    z-index: 2;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    margin-top: 10px;
}

header h1 {
    letter-spacing: 3px;
    font-size: 300%;
    align-self: flex-end;
}

nav a {
    align-self: flex-end;
}

#logo a {
    height: 80px;
}

#logo-nav-container {
height: 80px;
width: 90%;
margin: 0 auto;
border-bottom: 1px solid grey;
}

#logo-nav-container > * {
    display: inline-block;
}

header nav {
    float: right;
    width: 35%;
}

#logo-nav-container ul {
    /* line-height: 80px; */
        display: flex;
        justify-content: space-between;
        font-size: 130%;
        height: 80px;
    }
li {
    list-style-type: none;
    opacity: 0.8;
}

#logo-nav-container a {
    display: flex;
}



nav a:hover {
    border-bottom: 1px solid whitesmoke;
    opacity: 1;
}

.active li {
    opacity: 1;
    color: white;
    border-bottom: 1px solid whitesmoke;

}


.page-title-text-container  {
    height: 500px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.page-title-text-container h2 {
    font-style: italic;
    text-transform: uppercase;
    font-weight: 500;
    padding: 0.5em;
    font-size: 250%;
 
}

/* Responsive layout for header on smaller screens */

@media screen and (max-width:900px) { 
    #logo-nav-container {
        height: 100px;
        display: grid;
        grid-template-rows: 1fr 1fr;
    }

    #logo-nav-container > * {
        justify-self: center;
    }

    #logo-nav-container nav {
        width: 90%
    }
}
/* 
Aim and history section */

section {
    height: 600px;
    position: relative;
    
}

#aim-and-history-section, #events-section {
    background: url('../images/skicrosshome2.jpeg');
    height: 600px;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: scroll;
    background-size: cover;
    display: flex;
    justify-content: center;
 
}

.image-overlay {
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgb(7, 1, 20);
    opacity: 0.6;
    z-index: 1;
    position: absolute;
}

.section-text {
    position: absolute;
    z-index: 2;
    width: 90%;
    height: 100%;
    display: grid;
   
}
.two-column-grid {
    grid-template-columns: 1fr 1fr;
    column-gap: 80px;   
}


#aim, #history {
    align-self: center;
    line-height: 175%;
    height: 40%;
    font-weight: 300;
    position: relative;
    padding: 15px 0;
    box-sizing: border-box;
}

#aim:before, #history:before{
        content: '';
        position: absolute;
        top: 0;
        width: 20%;
        left: 40%;
        border-top: 1px solid whitesmoke;
    
}

#aim h3, #history h3 {
    font-size: 160%;
    text-transform: uppercase;
    font-weight: 500;
    text-align: center;
}

#aim p, #history p {
    margin-top: 20px;

}

/* 
responsive layout for aim and history section */

@media screen and (max-width:750px){
    .two-column-grid {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        row-gap: 10px;   
    }

    #aim, #history {
        padding: 15px;
        height: 50%;
        align-self: flex-start;
    }
    
    #aim:before, #history:before {
        display: none;
    }
}

@media screen and (max-width:450px) {
    #aim, #history {
      line-height: 120%;
      padding: 15px;
      height: 50%;
      font-size: 95%;
    }

    #aim p, #history p {
        margin-top: 5px;
    
    }
}

/* visual links section */

#visual-nav-links {
    height: 400px;
    width: 100%;
    position: relative;
    overflow: hidden;
    background: url('../images/skier-jump.jpg');
   padding: 50px 0;
    width: 100%;
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;


}



.visual-link-background-image {

    object-fit: cover;
    height: 300px;
    width: 300px;

}


.visual-links-container {
    position: absolute;
    z-index: 2;
    display: flex;
    width: 100%;
    height: 300px;
    justify-content: space-around;

}

.visual-links-item {
    position: relative;
    display: flex;
    justify-content: center;
    filter: grayscale(0.7);
    overflow: hidden;
    border-radius: 15px;
    border: 2px solid white;
    width: 300px;
    height: 300px;



}

.grid-item-text {
    position: absolute;
    bottom: 0
 

}

.grid-item-text p {
    padding: 20px;
    background: whitesmoke;
    color: black;
    font-size: 120%;
    font-weight: 600;
}

.visual-links-item:hover {
    filter: none;
    transition: all 1s ease-in-out;
}
/* 
responsive design for visual links section */


@media screen and (max-width:950px){
    .visual-link-background-image {

        object-fit: cover;
        height: 245px;
        width: 245px;
    
    }

    .visual-links-item {
        width: 245px;
        height: 245px;
    
    }
}

    @media screen and (max-width:750px) {
        #visual-nav-links {
            height: 600px;
        }
        
     .visual-links-container {
         flex-wrap:wrap;
     }   
    .visual-links-item {
        margin: 5px;
    }
}

    @media screen and (max-width:550px) {
        #visual-nav-links {
            height: 900px;
        }
        
     .visual-links-container {
         flex-wrap: wrap;
     }   
    .visual-links-item {
        margin: 10px;
    }

    #visual-nav-links .image-overlay {
        height: 100%;
    }
    
    }

/* footer  */

.social-media {
    min-height: 80px;
    color:rgb(7, 1, 20);
    display: flex;
    align-items: center;
}

.social-media ul {display: flex;
justify-content: space-around;
width: 80%;
margin: 0 auto}

.social-media li {
    font-size: 2em;
}

.social-media li:hover {
    transform: scale(1.1);
    transition: all 0.5s ease-in-out;
}

/* 
events page */
.black-text {color: black;
font-weight: 600;}

.events-container {
    position: absolute;
    z-index: 2;
}