@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&family=Josefin+Slab:wght@500&display=swap');


/* General page stylings */

* {
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
    
}

body {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 500;
    color: whitesmoke;
}

h1, h2, h3 {
    font-family: 'Josefin Slab', sans-serif;
    font-weight: 500;
}

a {
    text-decoration: none;
    color: inherit;
}

/* Header stylings*/

header {
    background: url('../images/skier.jpeg') no-repeat bottom right;
    height: 600px;
    width: 100%;
    background-size: cover;
 
}

#header-overlay {
    top: 0;
    left: 0;
    height: 600px;
    width: 100%;
    background-color: rgb(7, 1, 20);
    opacity: 0.6;
    z-index: 1;
    position: absolute;
}
#header-text {
    z-index: 2;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    margin-top: 10px;
}

header h1 {
    letter-spacing: 3px;
    font-size: 300%;
    align-self: flex-end;
}

nav a {
    align-self: flex-end;
}

#logo a {
    height: 80px;
}

#logo-nav-container {
height: 80px;
width: 90%;
margin: 0 auto;
border-bottom: 1px solid grey;
}

#logo-nav-container > * {
    display: inline-block;
}

header nav {
    float: right;
    width: 35%;
}

#logo-nav-container ul {
        display: flex;
        justify-content: space-between;
        font-size: 130%;
        height: 80px;
        padding-bottom: 5px;
    }
li {
    list-style-type: none;
    opacity: 0.8;
}

#logo-nav-container a {
    display: flex;
}



nav a:hover {
    border-bottom: 1px solid whitesmoke;
    opacity: 1;
}

.active li {
    opacity: 1;
    color: white;
    border-bottom: 1px solid whitesmoke;

}


.page-title-text-container  {
    height: 500px;
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 45px;
    margin: 0 auto;
}
.page-title-text-container * {
    text-align: center;
    font-style: italic;
}

.page-title-text-container h2 {
    
    text-transform: uppercase;
    font-weight: 500;
    padding: 0.5em;
    font-size: 300%;
    margin-bottom: 80px;
}

#title-animation h2 {
    margin-bottom: 0px;
}

.page-title-text-container p {
    font-size: 110%;
    max-width: 400px;
}

#title-animation {
    transform: scale(1.1);
    animation: scale 3s forwards cubic-bezier(0.5, 1, 0.89, 1);
  }

  #title-animation span {
    display: inline-block;
    opacity: 0;
    filter: blur(4px);
  }

/* 
css animation for title animation from https://codepen.io/alvarotrigo/pen/ExvqdNa?editors=1100 */

  @keyframes scale {
    100% {
      transform: scale(1);
    }
  }

  span:nth-child(1) {
    animation: fade-in 0.8s 0.1s forwards cubic-bezier(0.11, 0, 0.5, 0);
  }
  
  span:nth-child(2) {
    animation: fade-in 0.8s 0.2s forwards cubic-bezier(0.11, 0, 0.5, 0);
  }
  
  span:nth-child(3) {
    animation: fade-in 0.8s 0.3s forwards cubic-bezier(0.11, 0, 0.5, 0);
  }
  
  span:nth-child(4) {
    animation: fade-in 0.8s 0.4s forwards cubic-bezier(0.11, 0, 0.5, 0);
  }
  
  span:nth-child(5) {
    animation: fade-in 0.8s 0.5s forwards cubic-bezier(0.11, 0, 0.5, 0);
  }
  
  span:nth-child(6) {
    animation: fade-in 0.8s 0.6s forwards cubic-bezier(0.11, 0, 0.5, 0);
  }
  


  @keyframes fade-in {
    100% {
      opacity: 1;
      filter: blur(0);
    }
}

@keyframes title-appear {

    0% {transform: translateX(-600px);

    }
    100% {
        transform: translateX(0px);
    }
}

/* Responsive layout for header on smaller screens */

@media screen and (max-width:900px) { 
    #logo-nav-container {
        height: 100px;
        display: grid;
        grid-template-rows: 1fr 1fr;
    }

    #logo-nav-container > * {
        justify-self: center;
    }

    #logo-nav-container nav {
        width: 90%
    }
}

@media screen and (max-width:900px) {
    .page-title-text-container {
    height: 300px;
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    position: relative;
    top: 100px;
    }
}


/* 
Aim and history section */



#aim-and-history-section, #events-details-section, #gallery-section, #signup-form-section {
    background: url('../images/skicrosshome2.jpeg');
    min-height: 600px;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: scroll;
    background-size: cover;
    display: flex;
    justify-content: center;
    position: relative;
 
}

.image-overlay {
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgb(7, 1, 20);
    opacity: 0.6;
    z-index: 1;
    position: absolute;
}

.section-text {
    position: absolute;
    z-index: 2;
    width: 90%;
    height: 100%;
    display: grid;
   
}
.two-column-grid {
    grid-template-columns: 1fr 1fr;
    column-gap: 80px;   
}


#aim, #history {
    align-self: center;
    line-height: 175%;
    height: 40%;
    font-weight: 300;
    position: relative;
    padding: 15px 0;
    box-sizing: border-box;
}

#aim:before, #history:before{
        content: '';
        position: absolute;
        top: 0;
        width: 20%;
        left: 40%;
        border-top: 1px solid whitesmoke;
    
}

#aim h3, #history h3 {
    font-size: 160%;
    text-transform: uppercase;
    font-weight: 500;
    text-align: center;
}

#aim p, #history p {
    margin-top: 20px;

}

/* 
responsive layout for aim and history section */

@media screen and (max-width:750px){
    .two-column-grid {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        row-gap: 10px;   
    }

    #aim, #history {
        padding: 15px;
        height: 50%;
        align-self: flex-start;
    }
    
    #aim:before, #history:before {
        display: none;
    }
}

@media screen and (max-width:450px) {
    #aim, #history {
      line-height: 120%;
      padding: 15px;
      height: 50%;
      font-size: 95%;
    }

    #aim p, #history p {
        margin-top: 5px;
    
    }
}

/* ski cross description section */

#skicross-description {
    min-height: 400px;
    padding: 50px 20px;
}


.page-description > div {
    color:rgb(7, 1, 20);
    border: 1px solid rgb(7, 1, 20, 0.8);
    padding: 50px 20px;
    text-align: center;
    line-height: 1.5;
    background-color: rgb(7, 1, 20, 0.1);
}

.page-description h3 {
    text-transform: uppercase;
    font-size: 250%;
    font-weight: 300;
}

.page-description p {
    font-weight: 700;
    font-size: 120%;
    margin-bottom: 10px;
}


/* visual links section */

#visual-nav-links {
    position: relative;
    background-image: url(../images/mountains.jpg);
    width: 100%;
    background-size: cover;
    background-position: bottom;
    padding: 100px 10px;
}




.visual-link-background-image {

    object-fit: cover;
    height: 300px;
    width: 300px;

}


.visual-links-container {
    position: relative;
    z-index: 2;
    display: flex;
    width: 100%;
    height: 300px;
    justify-content: space-around;
    filter: none;

}

.visual-links-item {
    position: relative;
    display: flex;
    justify-content: center;
    filter: grayscale(0.7);
    overflow: hidden;
    border-radius: 15px;
    border: 2px solid white;
    width: 300px;
    height: 300px;



}

.grid-item-text {
    position: absolute;
    bottom: 0
 

}

.grid-item-text p {
    padding: 20px;
    background: rgb(245, 245, 245, 0.85);
    color: black;
    font-size: 120%;
    font-weight: 600;
}

.visual-links-item:hover {
    filter: none;
    transition: all 1s ease-in-out;
}
/* 
responsive design for visual links section */


@media screen and (max-width:950px){
    .visual-link-background-image {

        object-fit: cover;
        height: 245px;
        width: 245px;
    
    }

    .visual-links-item {
        width: 245px;
        height: 245px;
    
    }
}

    @media screen and (max-width:750px) {
        #visual-nav-links {
            height: 650px;
        }
        
     .visual-links-container {
         flex-wrap:wrap;
     }   
    .visual-links-item {
        margin: 5px;
    }

    #visual-nav-links {
        padding-bottom: 10px;
    }
}

    @media screen and (max-width:550px) {
        #visual-nav-links {
            height: 900px;
        }
        
     .visual-links-container {
         flex-wrap: wrap;
     }   
    .visual-links-item {
        margin: 10px;
    }

    #visual-nav-links .image-overlay {
        height: 100%;
    }
    
    }

/* footer  */

.social-media {
    min-height: 80px;
    color:rgb(7, 1, 20);
    display: flex;
    align-items: center;
}

.social-media ul {display: flex;
justify-content: space-around;
width: 80%;
margin: 0 auto}

.social-media li {
    font-size: 2em;
}

.social-media li:hover {
    transform: scale(1.1);
    transition: all 0.5s ease-in-out;
}

#facebook {
    color: blue;
}

#instagram {
   
    background: -webkit-linear-gradient(rgb(153, 103, 46), rgb(95, 30, 116));
    background-clip: inherit;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 500;
    
}

#youtube {
    color: #ff0000;
}
/* 
events page */

#events-details-section {
    min-height: 800px;
}


.events-container {
    position: relative;
    z-index: 2;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 3em;
    column-gap: 20px;
    row-gap: 40px;
    align-self: center;
}

.single-event-info {
    min-width: 20em;
    text-align: center;
    border: 2px solid whitesmoke;
    border-radius: 20px;
    line-height: 1.8em;
    background-color: rgb(45 44 46 / 80%);
    padding: 0.5em;
}

.single-event-info p:nth-of-type(2) {
    text-transform: uppercase;
    font-size: 105%;
    font-weight: 800;
    padding-top: 5px;
}

.single-event-info p:nth-of-type(1) {
    text-transform: uppercase;
    font-size: 110%;
    border-bottom: 1px solid whitesmoke;
    width: 30%;
    margin: 0 auto;
    padding-bottom: 3px;
}

.single-event-info h3 {
    font-size: 200%;
    padding: 2px;
    text-transform: uppercase;
}

.single-event-info h4 {
    text-transform: uppercase;
    font-size: 125%;
}

#events-basics {
    padding: 40px 20px;
}

#events-basics a {
    text-decoration: underline;
    color: rgb(7, 1, 20, 0.8) ;
}

#events-basics li {
    color: rgb(7, 1, 20) ;
    font-weight: 600;
}


#events-basics h4 {
    font-size: 140%;
    font-weight: 600;
    margin: 15px 0;

}

#events-basics h5 {
    font-size: 120%;
    font-weight: 600;
    margin-bottom: 20px;
}

#events-basics .events-basics-grid {
    margin-top: 20px;
    border: none;
    background: none;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.events-basics-grid div {
    padding: 5px 30px;

}


.events-basics-grid div:nth-of-type(2) {
    border-left: 1px solid rgb(7, 1, 20);
}

/* responsive design for events page */

@media screen and (max-width:950px){
    .events-container {
        grid-template-columns: 1fr;
        position: relative;
    }

}

@media screen and (max-width:750px){
    .events-container {
        padding: 1.5em;
        column-gap: 15px;
        row-gap: 20px;
        
    }

}

/* Gallery page */

#gallery-photos {
    width: 85%;
    display:flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
  height: 100%;
  position: relative;
  z-index: 2;
}
.gallery-content {
    display:flex;
    justify-content: center;
    align-content: center;
    background: url('../images/skicrosshome2.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    position: relative;
    width: 100%;
    height: auto;
}

#gallery-photos div {
    margin: 10px;
    overflow: hidden;

}

#gallery-photos img {
    height:250px;
    width: 250px;
    object-fit: cover;
    transition: .5s ease;
    backface-visibility: hidden;
    border: 1px solid rgb(245, 245, 245, 0.8);
    border-radius: 5px;
}


.hover-overlay {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translate(-50%, 0%);
    -ms-transform: translate(-50%, 0%);
    text-align: center;
}

.single-image-container {
    position: relative;
}
.hover-text {
    padding: 20px 5px;
    background-color: rgb(7, 1, 20, 0.9);
    color: whitesmoke;

}

.single-image-container:hover img {
    opacity: 0.7;
  }
  
  .single-image-container:hover .hover-overlay {
    opacity: 1;
  }
/* 
sign up form */

#signup-form-section {
    min-height: 700px;
}

#signup-form-container {
    z-index: 2;
    padding: 70px;
    color:rgb(7, 1, 20,0.85);
    font-size: large;
    font-weight: 600;
}

form {
    background-color: rgb(245, 245, 245, 0.7);
    width: 500px;
    padding: 20px;
    display: grid;
    border: 1px solid whitesmoke;
    border-radius: 5px;
}

.form-grid{
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    row-gap: 2px;
}

label{
    margin: 8px;
    width: 100%;
    vertical-align: center;
}

input {
    height: 80%;
    background: rgb(245, 245, 245, 0.6);
}

input[type=checkbox] {
   justify-self: start;
   width: 30px;
   opacity: 0.6;
}

form p, form label[for=age] {
   padding: 20px 0;
}

form select {width: 80px;
height: 30px;
align-self: center;
opacity: 0.8;}

form option {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 600;
}


input[type=submit] {
   margin: 10px auto;
    width: 140px;
    height:40px;
    background: rgb(245, 245, 245, 0.9);
    font-size: 1em;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 700;
    border: 1px solid rgb(7, 1, 20, 0.8);
    border-radius: 5px;
    cursor: pointer;
 }

 input[type=submit]:hover {
     color: rgb(245, 245, 245, 0.9);
     background:rgb(7, 1, 20, 0.4);
     border-color: rgb(245, 245, 245, 0.9);
 }

 form h5 {text-align: center;
margin-top: 20px;}